a{
  text-decoration: none;
}
a:link {
  color:#ffffff;
}
a:visited {
  color:#00ff00;
}
a:hover {
  color:#000000;
}
a:active {
  color:#000000;
}

.body {
  background-color: gray;
  margin-left: 10%;
  margin-right: 10%;
}

.main-header {
  font-size: 2em;
}

.main-nav {

}

.main-content {

}

.main-footer {
  
}
